<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button">Back</button>
  </div>
  <h1 class="title">Create Job</h1>
  <div class="buttons">
    <button class="button">Logout</button>
  </div>
</ion-header-bar>
<ion-content padding="true">
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Job Name" ng-model="newJob.JobName"/>
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Description" ng-model="newJob.Description"/>
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Location" ng-model="newJob.Location"/>
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Charity Amount" ng-model="newJob.CharityAmount"/>
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Assigned To Amount" ng-model="newJob.AssignedToAmount"/>
        </label>
    </div>

    <button class="button button-block button-positive" ng-click="create()">
        Create
    </button>
</ion-content>