<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">Dashboard</h1>
  <div class="buttons">
    <button class="button button-dark" ng-click="logout()">Logout</button>
  </div>
</ion-header-bar>
<ion-content padding="true">
    <button class="button button-outline button-block button-positive" ng-click="postJob()">
        POST
    </button>
    <button class="button button-outline button-block button-positive" ng-click="seekJob()">
        SEEK
    </button>
    <button class="button button-outline button-block button-positive" ng-click="myJobs()">
        MY JOBS
    </button>
</ion-content>