<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="back()">Back</button>
  </div>
  <h1 class="title">Search</h1>
  <div class="buttons">
    <button class="button" ng-click="logout()">Logout</button>
  </div>
</ion-header-bar>
<ion-content padding="true">
	<ion-list>
		<ion-item>
            <input type="text" placeholder="Job Name" ng-model="search.JobName"/>
        </ion-item>
        <ion-item>
            <input type="text" placeholder="Description" ng-model="search.Description"/>
        </ion-item>
        <ion-item>
            <input type="text" placeholder="Location" ng-model="search.location"/>
        </ion-item>
        <ion-item>
            <input type="text" placeholder="Owner" ng-model="search.Owner"/>
        </ion-item>
    </ion-list>

    <button class="button button-block button-positive" ng-click="search()">
        Search
    </button>
</ion-content>