<ion-view title="Login">
    <ion-content has-header="true" padding="true">



        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="username"/>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="password"/>
            </label>
        </div>

        <button class="button button-block button-positive">
            Login
        </button>
        <button class="button button-block button-positive">
            Register
        </button>
    </ion-content>
</ion-view>
