<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">Login</h1>
</ion-header-bar>
<ion-content padding="true">
    <ion-list>
        <ion-item>
            <input type="text" placeholder="username" ng-model="loginData.AccountName"/>
        </ion-item>
        <ion-item>
            <input type="password" placeholder="password" ng-model="loginData.Password"/>
        </ion-item>
    </ion-list>

    <button class="button button-outline button-block button-positive" ng-click="login()">
        Login
    </button>
    <button class="button button-outline button-block button-positive" ng-click="register()">
        Register
    </button>
</ion-content>
