<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="back()">Back</button>
  </div>
  <h1 class="title">Create Job</h1>
  <div class="buttons">
    <button class="button" ng-click="logout()">Logout</button>
  </div>
</ion-header-bar>
<ion-content padding="true">
    <ion-list>
        <ion-item>
            <input type="text" />
        </ion-item>
        <ion-item>
            <input type="text" placeholder="Job Name" ng-model="newJob.JobName"/>
        </ion-item>
        <ion-item>
            <input type="text" placeholder="Description" ng-model="newJob.Description"/>
        </ion-item>
        <ion-item>
            <input type="text" placeholder="Location" ng-model="newJob.Location"/>
        </ion-item>
        <ion-item>
            <input type="text" placeholder="Charity Amount" ng-model="newJob.CharityAmount"/>
        </ion-item>
        <ion-item>
            <input type="text" placeholder="Assigned To Amount" ng-model="newJob.AssignedToAmount"/>
        </ion-item>
    </ion-list>

    <button class="button button-block button-positive" ng-click="create()">
        Create
    </button>
</ion-content>