<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">Login</h1>
</ion-header-bar>
<ion-content padding="true">
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="username" ng-model="loginData.AccountName"/>
        </label>
        <label class="item item-input">
            <input type="password" placeholder="password" ng-model="loginData.Password"/>
        </label>
    </div>

    <button class="button button-block button-positive" ng-click="login()">
        Login
    </button>
    <button class="button button-block button-positive" ng-click="register()">
        Register
    </button>
</ion-content>
