<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">Job Details</h1>
  <div class="buttons">
    <button class="button">Back</button>
  </div>
</ion-header-bar>
<ion-content padding="true">
<div class="list list-inset">
    <label class="item item-input">
        <input type="text" placeholder="Job Name" ng-model="newJob.JobName"/>
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Description" ng-model="newJob.Description"/>
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Location" ng-model="newJob.Location"/>
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Owner" ng-model="newJob.Owner"/>
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Charity Amount" ng-model="newJob.CharityAmount"/>
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Assigned To Amount" ng-model="newJob.AssignedToAmount"/>
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Status" ng-model="newJob.Status"/>
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Receipt" ng-model="newJob.Receipt"/>
    </label>
</div>
</ion-content>